ODDS_API_KEY=cole_sua_chave_the_odds_api_aqui
ODDS_API_SPORTS=soccer_brazil_campeonato
ODDS_API_REGIONS=eu
# ODDS_API_BOOKMAKERS=betfair,pinnacle
API_KEY=cole_sua_chave_api_football_aqui
APISPORTS_KEY=
API_FOOTBALL_KEY=
API_FOOTBALL_NEXT_LIMIT=8
