/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background: linear-gradient(135deg, #071a2f, #0c2a4d);
  color: white;
  scroll-behavior: smooth;
}

/* Remove link azul padrão */
a {
  text-decoration: none;
  color: inherit;
}

/* BODY COMPENSA HEADER FIXO */
body {
  padding-top: 85px;
  padding-bottom: 0;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(5, 20, 40, 0.95);
  padding: 18px 20px;
  z-index: 1000;
}

.nav {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 800;
  font-size: 22px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: #cbd5e1;
  font-weight: 500;
}

.menu a:hover {
  color: #00ff9d;
}

.btn-header {
  padding: 10px 18px;
  border-radius: 8px;
  background: linear-gradient(90deg, #00c6ff, #00ff9d);
  color: black;
  font-weight: 700;
}

/* HERO */
.hero {
  padding: 60px 20px 60px 20px;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.hero h1 {
  font-size: 34px;
  margin-bottom: 20px;
}

.hero span {
  background: linear-gradient(90deg, #00c6ff, #00ff9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 18px;
  color: #cbd5e1;
  margin-bottom: 15px;
  line-height: 1.6;
}

.old-price {
  text-decoration: line-through;
  color: #9ca3af;
  margin-top: 20px;
}

.new-price {
  font-size: 24px;
  font-weight: 700;
  color: #00ff9d;
  margin-top: 5px;
}

.installments {
  margin-bottom: 30px;
}

/* BOTÃO PRINCIPAL */
.btn-primary {
  display: inline-block;
  padding: 16px 28px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  background: linear-gradient(90deg, #00c6ff, #00ff9d);
  color: black;
  transition: 0.3s;
  margin-top: 10px;
}

.btn-primary:hover {
  transform: scale(1.05);
}

/* SEÇÕES */
.section {
  padding: 100px 20px;
  max-width: 900px;
  margin: auto;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.section p {
  margin-bottom: 20px;
  color: #cbd5e1;
  line-height: 1.6;
}

.section ul {
  margin-top: 15px;
  line-height: 1.8;
  color: #cbd5e1;
  padding-left: 15px;
}

/* BOTÃO FLUTUANTE MOBILE */
.floating-cta {
  display: none;
}

@media (max-width: 768px) {

  .menu {
    display: none;
  }

  body {
    padding-bottom: 80px;
  }

  .floating-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, #00c6ff, #00ff9d);
    padding: 18px;
    z-index: 999;
  }

  .floating-cta a {
    font-weight: 700;
    font-size: 18px;
    color: black;
  }
}