.section {
  padding: 80px 20px;
  text-align: center;
}

.section.dark {
  background: #011a30;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 25px;
}

.list {
  list-style: none;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

.list li {
  margin-bottom: 15px;
  font-size: 18px;
  opacity: 0.9;
}

.offer {
  padding: 100px 20px;
  text-align: center;
}